{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Compass</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
    <link rel="stylesheet" href="{% static 'css/hide_footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    {% endblock %}
    
    {% block header %}
    <nav style="padding: 10px;" class="navbar navbar-expand-lg navbar-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a style="margin-left: 0;" class="navbar-brand" href="/">Compass<span>.</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
    
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><input style="outline: none;" class="single-input" type="text" placeholder="Search for brand, color, etc."></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item active"><a href="" class="nav-link">Browse</a></li>
                        <li class="nav-item"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Help</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Sign up</a></li>
                        <li class=""><a href="" class="nav-link"><button style="border: 1px solid black; background-color: transparent; color: black; border-radius: 20px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; outline: none;" class="sell-button">Sell</button></a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 col-md-2 p-0">
                <div class="row bg-light pt-3 m-0">
                    <div class="col-12 p-0">
                        <div class="sidebar-header text-center pb-3">
                            <h2>Username</h2>
                        </div>
                        <div class="sidebar-content">
                            <div class="media mt-3 p-2">
                                <img class="mr-3" src="../icons/buying.svg" alt="Buying icon" class="img-fluid">
                                <a href="buying.html" class="sidebar-links">
                                    <div class="media-body">
                                        <h5 class="mt-0">Buying</h5>
                                        <p>Active Bids, In-Progress, Completed Orders</p>
                                    </div>
                                </a>
                            </div>


                            <div class="media mt-3 p-2 bg-white">
                                <img class="mr-3" src="../icons/selling.svg" alt="Selling icon" class="img-fluid">
                                <a href="#" class="sidebar-links">
                                    <div class="media-body">
                                        <h5 class="mt-0">Selling</h5>
                                        <p>Active Asks, In-Progress, Completed Sales</p>
                                    </div>
                                </a>
                            </div>
                              
                            <div class="media mt-3 p-2">
                                <img class="mr-3" src="../icons/profile.svg" alt="Profile icon" class="img-fluid">
                                <a href="../account.html" class="sidebar-links">
                                    <div class="media-body">
                                    <h5 class="mt-0">Profile</h5>
                                    <p>Learn what's unique to you</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="media mt-3 p-2">
                                <img class="mr-3" src="../icons/portfolio.svg" alt="Portfolio icon" class="img-fluid">
                                <a href="portfolio.html" class="sidebar-links">
                                    <div class="media-body">
                                    <h5 class="mt-0">Portfolio</h5>
                                    <p>See the value of your items</p>
                                    </div>
                                </a>
                              </div>
                            
                            <div class="media mt-3 p-2">
                                <img class="mr-3" src="../icons/following.svg" alt="Following icon" class="img-fluid">
                                <a href="cop-list.html" class="sidebar-links">
                                    <div class="media-body">
                                        <h5 class="mt-0">Following</h5>
                                        <p>Products you are watching</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="media mt-3 p-2">
                                <img class="mr-3" src="../icons/settings.svg" alt="Settings icon" class="img-fluid">
                                <a href="settings.html" class="sidebar-links"> 
                                    <div class="media-body">
                                        <h5 class="mt-0">Settings</h5>
                                        <p>Settings of your profile</p>
                                    </div>
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <div class="row pt-5 pl-3">
                    <div class="col-6 col-md-2">
                        <div class="media">
                            <img src="../icons/chart-blue.svg" alt="Chart blue" class="img-fluid purchasing mr-2">
                            <div class="media-body">
                                <h6>SALES</h6>
                                <p>_ _</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2 offset-md-8">
                        <div class="media">
                            <img src="../icons/tag.svg" alt="tag" class="img-fluid purchasing">
                            <div class="media-body">
                                <h6>SALES(#)</h6>
                                <p>_ _</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs border-0 pb-3" id="myTab" role="tablist">
                            <li class="nav-item tab-border-bottom active-tab">
                              <a class="nav-link active border-0 pb-1" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current"
                                aria-selected="true"><h4>Current</h4></a>
                            </li>
                            <li class="nav-item active-tab">
                              <a class="nav-link border-0 pb-1" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending"
                                aria-selected="false"><h4>Pending</h4></a>
                            </li>
                            <li class="nav-item active-tab">
                              <a class="nav-link border-0 pb-1" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history"
                                aria-selected="false"><h4>History</h4></a>
                            </li>
                          </ul>
                          
                          <div class="tab-content" id="myTabContent">
                            
                            <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="form-control" placeholder="Search name">
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search name, order #" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-dark rounded-pill ml-2" type="button"><i class="fas fa-share-square pr-1"></i>Export</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search name, order #" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-dark rounded-pill ml-2" type="button"><i class="fas fa-share-square pr-1"></i>Export</button>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table" id="buying-table">
                                <thead>
                                    <th>Item</th>
                                    <th>Bid Price</th>
                                    <th>Highest Bid</th>
                                    <th>Lowest Ask</th>
                                    <th>Expires</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    
    {% endblock %}