body {
    font-family: 'Montserrat', sans-serif;
}

span {
    cursor: pointer;
}

footer {
    background-color: rgb(61, 61, 61);
    color: white;
}

.navbar {
    background-color: transparent;
    padding: 20px;
}
.navbar-brand {
    margin-left: 30px;
}
.responsive-navbar {
    display: none;
}
.main {
    height: 520px;
    background-image: url(https://stockx-assets.imgix.net/Core/sneaker_plain.png?auto=compress,format);
    background-size: cover;
}
.main-street {
    height: 520px;
    background-image: url('../images/streetwear.png');
    background-size: cover;
}
.head-preview {
    padding-top: 50px;
    
}
.preview-header {
    font-size: 60px;
    color: white;
}
#preview-header-two {
    background-color: black;
    width: 60%;
    margin: 0 auto;
}
.preview-search-input {
    margin-top: 10px;
    width: 550px;
    height: 45px;
    border: none;
    border-radius: 2px;
    padding: 20px;
    outline: none;
}
.nav-item {
    margin-top: 5px;
}
.categories {
    padding-top: 15px;
}
.popular-images {
    width: 100%;
}
.most-images {
    width: 100%;
}
.most-cards {
    background-color: rgb(250, 250, 250);
    width: 120%;
}
.live-marketplace {
    background-color: #08a05c;
    padding: 25px 30px 22px 30px;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
}
.live-marketplace:hover {
    background-color: #08a05c;
    padding: 25px 30px 22px 30px;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
}
.calendar-images {
    width: 100%;
}
.calendar-cards {
    /* background-color: rgb(250, 250, 250); */
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
}

.ftco-heading-2 {
    font-size: 13px;
}

.recent-updates-content {
    font-size: 12px;
    color: #808080;
}

.main-card {
    border: 1px solid #e0e0e0;
    width: 500px;
    margin: 0 auto;
    display: inline-grid;
    border-radius: 3px;

}
.card2 {
    border: 1px solid black;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: none;
}


.form-control{
    border-radius: 3px;
}


.grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    width: 23%;
    height: 70px;
    margin: 4px;
}


.tile-inner {
    background: #fff;
    border: 1px solid #e5e7ea;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 70px;
}

.tile-inner:hover {
    background-color: #fcedec;
}

.item-row{
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 2px dotted #e5e7ea;
    font-size: 16px;
    font-weight: 500;
}

.back {
    background-color: rgb(255, 81, 95);
}

.sell-back {
    background-color: rgb(8, 160, 92) !important;
}




@media (min-width: 361px) and (max-width: 767px) {
    .popular-images {
        width: 160px;
        padding-bottom: 20px;
    }
    .most-cards {
        width: 100%;
    }
    .live-marketplace {
        padding: 15px 10px 15px 10px;
        color: white;
        border-radius: 4px;
        font-size: 10px;
        text-decoration: none;
    }
    .main {
        display: none;
    }
    .main-street {
        display: none;
    }
    .categories-ul {
        padding: 0 !important;
    }
    .responsive-navbar {
        display: block !important;
    }
    .navbar-brand {
        color: black !important;
    }
    .nav-link {
        color: black !important;
    }
    .navbar {
        border-bottom: 1px solid #e6e6e6;
    }
    .navbar-toggler {
        color: black !important;
        border-color: #666 !important;
    }
    .help-search-input {
        width: 250px !important;
    }
    .help-cards {
        width: 140px !important;
        height: 140px !important;
    }
    .contact-us-button {
        width: 100% !important;
    }
    .help-cards {
        padding-top: 50px !important;
        margin-bottom: 10px !important;
    }
    .preview-header {
        font-size: 42px !important;
    }
    .browse-path-container {
        display: none !important;
    }
    .browse-filter-by {
        display: flex !important;
    }
    .sneaker-label {
        width: 100% !important;
    }
    .street-label {
        width: 100% !important;
    }
    

}


@media (max-width: 360px) {
    .popular-images {
        width: 130px;
        padding-bottom: 20px;
    }
    .most-cards {
        width: 100%;
    }
    .live-marketplace {
        padding: 15px 10px 15px 10px;
        color: white;
        border-radius: 4px;
        font-size: 10px;
        text-decoration: none;
    }
    .main {
        display: none;
    }
    .main-street {
        display: none;
    }
    .categories-ul {
        padding: 0 !important;
    }
    .responsive-navbar {
        display: block !important;
    }
    .navbar-brand {
        color: black !important;
    }
    .nav-link {
        color: black !important;
    }
    .navbar {
        border-bottom: 1px solid #e6e6e6;
    }
    .navbar-toggler {
        color: black !important;
        border-color: #666 !important;
    }
    .help-search-input {
        width: 250px !important;
    }
    .help-cards {
        width: 140px !important;
        height: 140px !important;
    }
    .contact-us-button {
        width: 100% !important;
    }
    .help-cards {
        padding-top: 50px !important;
        margin-bottom: 10px !important;
    }
    .preview-header {
        font-size: 37px !important;
    }
    .browse-path-container {
        display: none !important;
    }
    .browse-filter-by {
        display: block !important;
    }
    .sneaker-label {
        width: 100% !important;
    }
    .street-label {
        width: 100% !important;
    }
}


@media (max-width: 1450px) {
    #preview-header-two {
        background-color: black;
        width: 74%;
        /* margin: 0 auto; */
    }
}
