{% extends 'base.html' %}
{% load static %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex justify-content-center">
            <a class="navbar-brand" href="/">Compass<span>.</span></a>

        </div>
    </nav>
    {% endblock %}

    {% block content %}

    <div class="text-center">
        <h3 class="pt-5">Reset Password</h3>
        <div class="main-card col-12 mt-5 pt-2">
            <div class="registrations">

                <div class="social-card pt-3">
                    Please enter the email address that is associated with your StockX account.

                </div>
                <br>
                <div class="login">

                    <form class="form-login">
                        <div class="fields">
                            {% csrf_token %}
                            {{form.non_field_error}}
                            <div class="form-group">
                                {{form.email}}
                                {{form.email.errors}}
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Reset Password" class="btn btn-primary py-3 px-5"
                                    style="width: 100%; background-color: #0d0d0d; border-color: #0d0d0d;">
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}