{% extends 'base.html' %}
{% load static %}
    {% block title %}
    <title>Compass</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
    <link rel="stylesheet" href="{% static 'css/browse.css' %}">
    {% endblock %}
    
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}

    {% block content %}
    <div class="browse-main">
        <div class="browse-description-container">
            <div class="browse-description ml-5 pt-5">
                <h1 class="browse-header">All Products</h1>
                <p class="browse-description-text">On Compass, every sneaker you want is always available and authentic. Buy and sell new sneakers & shoes from Air Jordan, adidas, Nike, Yeezy and more!</p>
            </div>
        </div>
        <div class="browse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 browse-sidebar">
                        <div class="all-browse-specs mt-5">
                            <ul class="mb-4">
                                <span class="sidebar-spans sneaker-red" id="sneakers-filter">SNEAKERS</span>
                                <span class="sidebar-spans streetwear-red" id="streetwear-filter">STREETWEAR</span>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans addi-red" id="adidas">ADIDAS</span>
                                <span class="sidebar-spans jord-red" id="jordan">JORDAN</span>
                                <span class="sidebar-spans nike-red" id="nike">NIKE</span>
                                <span class="sidebar-spans essent-red" id="essentials">ESSENTIALS</span>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans">SIZE TYPES</span>
                                <div class="size-type-check-box mb-1 mt-2">
                                    <input type="checkbox" id="men-cb" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Men</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="women-cb" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Women</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="child-cb" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Child</label>
                                </div>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans">PRICES</span>
                                <div class="size-type-check-box mb-1 mt-2">
                                    <input type="checkbox" id="under-hundred" class="browse-sidebar-checkbox-prices" startprice="0" endprice="100">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">UNDER $100</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="hundred-two" class="browse-sidebar-checkbox-prices" startprice="100" endprice="200">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$100 - $200</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="t-th" class="browse-sidebar-checkbox-prices" startprice="200" endprice="300">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$200 - $300</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="t-f" class="browse-sidebar-checkbox-prices" startprice="300" endprice="400">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$300 - $400</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="f-fi" class="browse-sidebar-checkbox-prices" startprice="400" endprice="500">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$400 - $500</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="fi-s" class="browse-sidebar-checkbox-prices" startprice="500" endprice="600">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$500 - $600</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" id="s-se" class="browse-sidebar-checkbox-prices" startprice="600" endprice="1000000">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$600 +</label>
                                </div>
                            </ul>

                            <ul class="mb-4">
                                <span class="sidebar-spans">RELEASE YEARS</span>
                                <div class="size-type-check-box mb-1 d-flex mt-2 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2000">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);"> 2000</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2001">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2001</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2002">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2002</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2003">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2003</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2004">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2004</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2005">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2005</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2006">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2006</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2007">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2007</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2008">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2008</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2009">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2009</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2010">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2010</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2011">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2011</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2012">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2012</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2013">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2013</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2014">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2014</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2015">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2015</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2016">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2016</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2017">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2017</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2018">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2018</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2019">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2019</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox-year" releaseyear="2020">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2020</label>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-10 col-12">
                        <div class="browse-content-detile ml-5 mt-5 d-flex" style="justify-content: space-between">
                            <div class="browse-path-container">
                                <small class="path">HOME / SNEAKERS</span>
                            </div>
                            <div class="browse-filter-by">
                                <p class="" style="font-size: 14px; color: black;">Sort by: Featured</p> <p class="ml-3 mt-1" style="color: black;"><i class="fas fa-chevron-down"></i></p>
                            </div>

                        </div>

                        <div class="browse-content mt-3">
                            <div class="container-fluid">
                                <div class="row product-listt">
                                    <!-- <div class="product-listt"> -->
                                    {% for product in browse_list %}
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <a href="{{ product.get_absolute_url }}"><img class="most-images" src="{{product.image.url}}" alt=""></a>
                                            <p class="mt-2">{{product.title}}</p>
                                            <h5>${{product.current_price}}</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                <!-- </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}

    {% block js %}
    <script src="{% static 'js/filters.js' %}"></script>
    {% endblock %}