<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compass</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/single.css">
    <link rel="stylesheet" href="css/browse.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <nav style="padding: 10px;" class="navbar navbar-expand-lg navbar-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a style="margin-left: 0;" class="navbar-brand" href="/">Compass<span>.</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
    
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><input style="outline: none;" class="single-input" type="text" placeholder="Search for brand, color, etc."></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item active"><a href="" class="nav-link">Browse</a></li>
                        <li class="nav-item"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Help</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Sign up</a></li>
                        <li class=""><a href="" class="nav-link"><button style="border: 1px solid black; background-color: transparent; color: black; border-radius: 20px; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; outline: none;" class="sell-button">Sell</button></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="browse-main">
        <div class="browse-description-container">
            <div class="browse-description ml-5 pt-5">
                <h1>Sneakers</h1>
                <p class="browse-description-text">On Compass, every sneaker you want is always available and authentic. Buy and sell new sneakers & shoes from Air Jordan, adidas, Nike, Yeezy and more!</p>
            </div>
        </div>
        <div class="browse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 browse-sidebar">
                        <div class="all-browse-specs mt-5">
                            <ul class="mb-4">
                                <span class="sidebar-spans" style="color: #ff5a5f;">SNEAKERS</span>
                                <span class="sidebar-spans">STREETWEAR</span>
                                <span class="sidebar-spans">COLLECTIBLES</span>
                                <span class="sidebar-spans">HANDBAGS</span>
                                <span class="sidebar-spans">WATCHES</span>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans">BELOW RETAIL</span>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans">ADIDAS</span>
                                <span class="sidebar-spans">AIR JORDAN</span>
                                <span class="sidebar-spans">NIKE</span>
                                <span class="sidebar-spans">OTHER BRANDS</span>
                                <span class="sidebar-spans">LUXURY BRANDS</span>
                                <span class="sidebar-spans">COLLECTIONS</span>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans">SIZE TYPES</span>
                                <div class="size-type-check-box mb-1 mt-2">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Men</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Women</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Child</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Preschool</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Infant</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">Toddle</label>
                                </div>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans">SIZES</span>
                                <div class="d-flex">
                                    <div class="sidebar-sizes text-center col-md-3">
                                        <label for="">1</label>
                                    </div>
                                    <div class="sidebar-sizes text-center col-md-3">
                                        <label for="">1.5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center col-md-3">
                                        <label for="">2</label>
                                    </div>
                                    <div class="sidebar-sizes text-center col-md-3">
                                        <label for="">2.5</label>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="sidebar-sizes text-center">
                                        <label for="">3</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">3.5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">4</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">4.5</label>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="sidebar-sizes text-center">
                                        <label for="">5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">5.5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">6</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">6.5</label>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="sidebar-sizes text-center">
                                        <label for="">7</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">7.5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">8</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">8.5</label>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="sidebar-sizes text-center">
                                        <label for="">9</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">9.5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">10</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">10.5</label>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="sidebar-sizes text-center">
                                        <label for="">11</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">11.5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">12</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">12.5</label>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="sidebar-sizes text-center">
                                        <label for="">13</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">13.5</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">14</label>
                                    </div>
                                    <div class="sidebar-sizes text-center">
                                        <label for="">14.5</label>
                                    </div>
                                </div>
                            </ul>
                            <ul class="mb-4">
                                <span class="sidebar-spans">PRICES</span>
                                <div class="size-type-check-box mb-1 mt-2">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">UNDER $100</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$100 - $200</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$200 - $300</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$300 - $400</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$400 - $500</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$500 - $600</label>
                                </div>
                                <div class="size-type-check-box mb-1">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">$600 +</label>
                                </div>
                            </ul>

                            <ul class="mb-4">
                                <span class="sidebar-spans">RELEASE YEARS</span>
                                <div class="size-type-check-box mb-1 d-flex mt-2 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);"> 2001</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2001</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2002</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2003</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2004</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2005</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2006</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2007</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2008</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2009</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2010</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2011</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2012</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2013</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2014</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2015</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2016</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2017</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label class="mr-3" for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2018</label>
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2019</label>
                                </div>
                                <div class="size-type-check-box mb-1 d-flex">
                                    <input type="checkbox" class="browse-sidebar-checkbox">
                                    <label for="" style="font-size: .75rem; color: rgba(0,0,0,.87);">2020</label>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-10 col-12">
                        <div class="browse-content-detile ml-5 mt-5 d-flex" style="justify-content: space-between">
                            <div class="browse-path-container">
                                <small class="path">HOME / SNEAKERS</span>
                            </div>
                            <div class="browse-filter-by">
                                <p class="" style="font-size: 14px; color: black;">Sort by: Featured</p> <p class="ml-3 mt-1" style="color: black;"><i class="fas fa-chevron-down"></i></p>
                            </div>

                            <div class="browse-sort-by d-flex">
                                <p class="" style="font-size: 14px; color: black;">Sort by: Featured</p> <p class="ml-3 mt-1" style="color: black;"><i class="fas fa-chevron-down"></i></p>
                            </div>
                        </div>

                        <div class="browse-content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/greenj.png" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/byeezy.png" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/j4.png" alt="">
                                            <p class="mt-2">Jordan 4 Retro Union Off Noir</p>
                                            <h5>$670</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/bluej.png" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-Zoom-KD-5-Elite-White-Gold.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/KangaROOS-Ultimate-Sneakerness-Green.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-SB-Zoom-Blazer-Mid-Sashiko-Mystic-Navy.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1596526825" alt="">
                                            <p class="mt-2">Nike SB Zoom Blazer Mid Sashiko</p>
                                            <h5>$100</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Converse-Gianno-Golf-Le-Fleur-Evergreen.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1602665013" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/greenj.png" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/byeezy.png" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/j4.png" alt="">
                                            <p class="mt-2">Jordan 4 Retro Union Off Noir</p>
                                            <h5>$670</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/bluej.png" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-Zoom-KD-5-Elite-White-Gold.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/KangaROOS-Ultimate-Sneakerness-Green.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-SB-Zoom-Blazer-Mid-Sashiko-Mystic-Navy.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1596526825" alt="">
                                            <p class="mt-2">Nike SB Zoom Blazer Mid Sashiko</p>
                                            <h5>$100</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Converse-Gianno-Golf-Le-Fleur-Evergreen.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1602665013" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/greenj.png" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/byeezy.png" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/j4.png" alt="">
                                            <p class="mt-2">Jordan 4 Retro Union Off Noir</p>
                                            <h5>$670</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/bluej.png" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-Zoom-KD-5-Elite-White-Gold.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/KangaROOS-Ultimate-Sneakerness-Green.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-SB-Zoom-Blazer-Mid-Sashiko-Mystic-Navy.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1596526825" alt="">
                                            <p class="mt-2">Nike SB Zoom Blazer Mid Sashiko</p>
                                            <h5>$100</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Converse-Gianno-Golf-Le-Fleur-Evergreen.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1602665013" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/greenj.png" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/byeezy.png" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/j4.png" alt="">
                                            <p class="mt-2">Jordan 4 Retro Union Off Noir</p>
                                            <h5>$670</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="images/bluej.png" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-Zoom-KD-5-Elite-White-Gold.jpg?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Jordan 1 Retro High Lucky Green (W)</p>
                                            <h5>$250</h5>
                                            <small>1918 Sold</small>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/KangaROOS-Ultimate-Sneakerness-Green.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1538080256" alt="">
                                            <p class="mt-2">Adidas Yeezy Boost 350 V2 Carbon</p>
                                            <h5>$255</h5>
                                            <small>1227 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Nike-SB-Zoom-Blazer-Mid-Sashiko-Mystic-Navy.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1596526825" alt="">
                                            <p class="mt-2">Nike SB Zoom Blazer Mid Sashiko</p>
                                            <h5>$100</h5>
                                            <small>1068 Sold</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6 p-3 p-sm-4 p-xl-5">
                                        <div class="most-cards pl-1 pr-1 pt-1 pb-2">
                                            <img class="most-images" src="https://stockx.imgix.net/Converse-Gianno-Golf-Le-Fleur-Evergreen.png?fit=fill&bg=FFFFFF&w=300&h=214&auto=format,compress&q=90&dpr=2&trim=color&updated_at=1602665013" alt="">
                                            <p class="mt-2">Jordan 1 Mid Sisterhood (W)</p>
                                            <h5>$185</h5>
                                            <small>763 Sold</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <footer class="ftco-footer ftco-footer-2 ftco-section pt-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2 pb-2">Recent updates</h2>
                            <p class="recent-updates-content">The Drop List</p>
                            <p class="recent-updates-content">The JJJJound Effect</p>
                            <p class="recent-updates-content">Trick Or Treat Yourself</p>
                            <p class="recent-updates-content">Xbox Series X</p>
                            <p class="recent-updates-content">Supreme Fall/Winter Is Here</p>
                            <p class="recent-updates-content">Crocs</p>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-5">
                            <h2 class="ftco-heading-2">Popular Releases</h2>
                            <ul class="list-unstyled">
                                <p class="recent-updates-content">Jordan 1 Dark Mocha</p>
                            <p class="recent-updates-content">New Balance 2002R Salehe Bembury</p>
                            <p class="recent-updates-content">Yeezy 350 V2 Natural</p>
                            <p class="recent-updates-content">Jordan 12 Dark Concord</p>
                            <p class="recent-updates-content">Jordan 1 Lucky Green (W)</p>
                            <p class="recent-updates-content">Nike Air Force 1 Skeleton</p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Air Jordan</h2>
                            <ul class="list-unstyled">
                            <p class="recent-updates-content">Air Jordan 1</p>
                            <p class="recent-updates-content">Air Jordan 11</p>
                            <p class="recent-updates-content">Air Jordan 3</p>
                            <p class="recent-updates-content">Air Jordan 4</p>
                            <p class="recent-updates-content">Air Jordan 5</p>
                            <p class="recent-updates-content">Air Jordan 13</p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Supreme</h2>
                            <p class="recent-updates-content">T-Shirts</p>
                            <p class="recent-updates-content">Accessories</p>
                            <p class="recent-updates-content">Headwear</p>
                            <p class="recent-updates-content">Bottoms</p>
                            <p class="recent-updates-content">Hoodies</p>
                            <p class="recent-updates-content">Box Logo</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
    
                        <p>
                            Copyright &copy; Compass.
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>