{% extends 'base.html' %}
{% load static %}
    {% block title %}
    <title>Compass</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
    <link rel="stylesheet" href="{% static 'css/browse.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light text-center" id="ftco-navbar">

        <a class="navbar-brand" href="/">Compass<span>.</span></a>


    </nav>
    {% endblock %}

    {% block content %}
    <div class="text-center mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="sellbuy">
                        <div class="item-header">
                            <div class="item-name pt-5">
                                <h2>{{ buying_product_detail.title }}</h2>
                            </div>
                            <div class="item-bid d-flex justify-content-center">
                                <div class="high-bid">
                                    {% for bid in highest_bid %}
                                    <span style="color: gray;">Highest Bid:</span><span class="bold pr-2"> ${{ bid.price }}</span>
                                    {% endfor %}
                                </div>
                                <div class="line pl-2 pr-5" style=" 
                                        text-align: center; 
                                        border-left: 1px solid #000; 
                                        line-height: 3 em;">
                                    <div class="low-ask">
                                        {% for ask in lowest_ask %}
                                        <span style="color: gray;"> Lowest Ask:</span><span class="bold"> ${{ ask.price }}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>

                            <div class="item-image mt-5">
                                <img src="{{buying_product_detail.image.url}}" width="70%" height="70%">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="size-select pt-5">
                        <a href="{% url 'core:buy-product' buying_product_detail.slug %}" style="text-decoration: none;">
                            <div class="" style="text-align: left; padding: 20px;
                            background: #fff;
                            border: 1px solid #e5e7ea;
                            display: flex;
                            justify-content: space-between;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: 600;">
                                <h5 style="color: black;">U.S. {{ buying_product_detail.made_for }}'s Size 4.5</h5>
                            </div>
                        </a>
                        <div class="choose-size pt-4">
                            <div class="choice d-flex" style="height: 55px;
                                background: rgb(250, 250, 250) none repeat scroll 0% 0%;
                                border-radius: 30px;
                                border: 1px solid rgb(229, 231, 234);">
                                <div class="ask selection sell-back" style="flex-grow: 1;
                                    cursor: pointer;
                                    color: rgb(1, 1, 1);
                                    font-size: 16px;
                                    padding: 15px 20px;
                                    text-align: center;
                                    
                                    border-radius: 30px;">Place Ask</div>
                                <div class="sell selection" style="flex-grow: 1;
                                    cursor: pointer;
                                    font-size: 16px;
                                    padding: 15px 20px;
                                    text-align: center;
                                    border-radius: 30px;">Sell Now</div>
                            </div>
                            <div class="ask-input d-flex pt-5">
                                <div class="decoration pl-4 pr-4" style="font-size: 30px; ">$</div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{form.non_field_error}}
                                    {{form.price}}
                                
                            </div>
                            <div class="warning-text pt-2">
                                <span style="color: #999;">You are about to sell at the highest Bid price</span>
                            </div>
                            <div class="multi-order pt-5">
                                <div class="item-row d-flex">
                                    <div class="">
                                        Transaction Fee (9.5%)
                                    </div>
                                    <div class="">
                                        ${{ buying_product_detail.delivery_fee }}
                                    </div>
                                </div>
                                <div class="item-row d-flex">
                                    <div class="">
                                        Payment Proc. (3%)
                                    </div>
                                    <div class="">
                                        -$5.10
                                    </div>
                                </div>
                                <div class="item-row d-flex">
                                    <div class="">
                                        Estimated Shipping
                                    </div>
                                    <div class="">
                                        -$0.00
                                    </div>
                                </div>
                                <div class="item-row d-flex">
                                    <div class="">
                                        Total Payout
                                    </div>
                                    <div class="">
                                        ${{buying_product_detail.current_price}}
                                    </div>
                                </div>
                            </div>
                            <div class="button-inner pt-3" style="height: 100%;
                                                            padding: 0 30px;
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: space-between;"
                                                                                            >
                                <button class="left-button" style="min-width: 100px; padding: 12px 18px; background-color: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(229, 231, 234);">Cancel</button>
                                <input class="right-button" value="Next" type="submit" style="min-width: 100px; padding: 12px 18px; background-color: rgb(8, 160, 92); color: rgb(255, 255, 255); border: 1px solid rgb(8, 160, 92);">
                            </form>
                            </div>
                            

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <script src="{% static 'js/buy-section.js' %}"></script>
        {% endblock %}

        