<div>
    <footer class="ftco-footer ftco-footer-2 ftco-section pt-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2 pb-2">Recent updates</h2>
                        <p class="recent-updates-content">The Drop List</p>
                        <p class="recent-updates-content">The JJJJound Effect</p>
                        <p class="recent-updates-content">Trick Or Treat Yourself</p>
                        <p class="recent-updates-content">Xbox Series X</p>
                        <p class="recent-updates-content">Supreme Fall/Winter Is Here</p>
                        <p class="recent-updates-content">Crocs</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Popular Releases</h2>
                        <ul class="list-unstyled">
                            <p class="recent-updates-content">Jordan 1 Dark Mocha</p>
                        <p class="recent-updates-content">New Balance 2002R Salehe Bembury</p>
                        <p class="recent-updates-content">Yeezy 350 V2 Natural</p>
                        <p class="recent-updates-content">Jordan 12 Dark Concord</p>
                        <p class="recent-updates-content">Jordan 1 Lucky Green (W)</p>
                        <p class="recent-updates-content">Nike Air Force 1 Skeleton</p>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Air Jordan</h2>
                        <ul class="list-unstyled">
                        <p class="recent-updates-content">Air Jordan 1</p>
                        <p class="recent-updates-content">Air Jordan 11</p>
                        <p class="recent-updates-content">Air Jordan 3</p>
                        <p class="recent-updates-content">Air Jordan 4</p>
                        <p class="recent-updates-content">Air Jordan 5</p>
                        <p class="recent-updates-content">Air Jordan 13</p>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Supreme</h2>
                        <p class="recent-updates-content">T-Shirts</p>
                        <p class="recent-updates-content">Accessories</p>
                        <p class="recent-updates-content">Headwear</p>
                        <p class="recent-updates-content">Bottoms</p>
                        <p class="recent-updates-content">Hoodies</p>
                        <p class="recent-updates-content">Box Logo</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        Copyright &copy; Compass.
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>