{% extends 'base.html' %}
{% load static %}
    {% block title %}
    <title>Compass</title>
    {% endblock %}
    {% block css %}
    <!-- <link rel="stylesheet" href="{% static 'css/single.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/browse.css' %}">
    <link rel="stylesheet" href="{% static 'css/help.css' %}">
    {% endblock %}

    {% block content %}
    <div class="help-main">
        <nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">Compass<span>.</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>
        
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
                            <li class="nav-item ml-sm-5"><a href="" class="nav-link">Compass Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="head-preview text-center">
            <h1 class="preview-header">What can we help you</h1>
            <h1 class="preview-header mb-4" id="preview-header-two">with?</h1>
            <div class="preview-search">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.non_field_error}}
                    {{form.text}}
                    {{form.text.errors}}
                </form>
            </div>
        </div>
    </div>
    <div class="helps-and-questions mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 helps text-center mb-4 mb-sm-0">
                    <div class="container-fluid-one">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-lg-4">
                                <div class="help-cards d-flex" id="help-cards-1">
                                    <p class="helps-text ml-5" id="smaller-help-font">Welcome To Compass</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-4">
                                <div class="help-cards" id="help-cards-2">
                                    <p class="helps-text ml-4">Account Features</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-4">
                                <div class="help-cards" id="help-cards-3">
                                    <p class="helps-text ml-4">Luxury Products</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-4">
                                <div class="help-cards" id="help-cards-4">
                                    <p class="helps-text">Money</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-4">
                                <div class="help-cards" id="help-cards-5">
                                    <p class="helps-text ml-4" id="smaller-help-font-two">Product Guidelines</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-4">
                                <div class="help-cards" id="help-cards-6">
                                    <p class="helps-text">Shipping</p>
                                </div>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 help-questions">
                    <div class="mb-4" style="border-bottom: 1px solid black; padding-bottom: 15px;">
                        <span style="font-size: 14px;">What is a Bid and how do I buy on StockX?</span>
                    </div>
                    <div class="mb-4" style="border-bottom: 1px solid black; padding-bottom: 15px;">
                        <span style="font-size: 14px;">What is an Ask and how do I sell on StockX?</span>
                    </div>
                    <div class="mb-4" style="border-bottom: 1px solid black; padding-bottom: 15px;">
                        <span style="font-size: 14px;">How long does it take to receive my order?</span>
                    </div>
                    <div class="mb-4" style="border-bottom: 1px solid black; padding-bottom: 15px;">
                        <span style="font-size: 14px;">How do I contact customer service and when can I expect to hear back?</span>
                    </div>
                    <div class="mb-4" style="border-bottom: 1px solid black; padding-bottom: 15px;">
                        <span style="font-size: 14px;">What are StockX selling fees?</span>
                    </div>
                    <div class="text-center">
                        <button class="contact-us-button" style="border: none; color: white; background-color: #088756; width: 320px; padding: 10px 0 10px 0;">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}