{% extends 'base.html' %}
{% load static %}
    {% block title %}
    <title>Compass</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
    {% endblock %}

    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light" id="ftco-navbar">

        <a class="navbar-brand" href="/">Compass<span>.</span></a>


    </nav>
    {% endblock %}

    {% block content %}
    <div class="text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="sellbuy">
                        <div class="item-header">
                            <div class="item-name pt-5">
                                <h2>{{ selling_size_product_detail.title }}</h2>
                            </div>
                            <div class="item-bid d-flex justify-content-center">
                                <div class="high-bid">
                                    <span style="color: gray;">Highest Bid:</span><span class="bold pr-2"> ${{ selling_size_product_detail.current_price }}</span>
                                </div>
                                <div class="line pl-2 pr-5" style=" 
                                        text-align: center; 
                                        border-left: 1px solid #000; 
                                        line-height: 3 em;">
                                    <div class="low-ask">
                                        <span style="color: gray;"> Lowest Ask:</span><span class="bold"> ${{ selling_size_product_detail.retail_price }}</span>
                                    </div>
                                </div>

                            </div>

                            <div class="item-image mt-5">
                                <img src="{{ selling_size_product_detail.image.url }}" width="70%" height="70%">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="size-select pt-5">
                        <div class="" style="text-align: left;">
                            <h3>Select Size</h3>
                        </div>
                        <div class="" style="text-align: left;">
                            U.S. {{selling_size_product_detail.made_for}}'s Sizes | Highest Bids
                        </div>
                        <div class="choose-size d-flex pt-4" style="flex-flow: row wrap;
                                                                -moz-box-align: center;
                                                                align-items: center;
                                                                margin-left: 0px;">
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-tile">
                                <a href="sell_confirmation.html"> 
                                    <div class="tile-inner">
                                        <div class="tile-value" style="color: black;">
                                            US 4
                                        </div>
                                        <div class="tile-subvalue" style="color: #ff5a5f;">
                                            $178
                                        </div>
                                    </div>
                                </a>
                            </div>
                            

                        </div>

                    </div>

                </div>

            </div>
        </div>
        {% endblock %}