{% extends 'base.html' %}
{% load static %}
    {% block title %}
    <title>Compass</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light text-center" id="ftco-navbar">

        <a class="navbar-brand" href="/">Compass <img style="width: 25px;" src="https://upload.wikimedia.org/wikipedia/commons/9/93/Arrow_Compass_Black.png" alt=""></a>


    </nav>
    {% endblock %}

    {% block content %}

    <div class="text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-search pt-5">
                        <div class="product-search-header">
                            <h1>Choose a product</h1>
                            <div class="sub-header">Find the product you're looking for to continue</div>
                        </div>
                        <div class="Search-box pt-5">
                            <form action="" class="sell-this-form">
                                {% csrf_token %}
                                <input id="site-search" type="search" placeholder="Search for brand, color, etc." class="searchbox input-text form-control p-4" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" value="" style="width: 450px; margin: 0 auto;">
                            </form>
                        </div>
                        <div id="choose-here">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
    <script src="{% static 'js/choose-product.js' %}"></script>
    
    {% endblock %}
