<form action="" method="post" id="payment-form">
    {% csrf_token %}
    <div style="justify-content: space-around; margin-top: 140px;" class="ml-4 form-row">
      <label for="card-element">
        <h4 style="margin-top: 50px;" class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Credit or debet card: </span>
        </h4>
      </label>
      
      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
    <div id="card-element" style="margin-top: 50px;">
      <!-- A Stripe Element will be inserted here. -->
    </div>
    <div class="row justify-content-center">
        <button class=" py-1 my-2 border-0 text-white " style="width: 58% !important;background-color: #d74353;border-radius: 4px;font-weight: bold;">Submit Payment</button>
    </div>
  </form>