{% extends 'base.html' %}
{% load static %}
    {% block title %}
    <title>Compass</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
    <link rel="stylesheet" href="{% static 'css/browse.css' %}">
    <link rel="stylesheet" href="{% static 'css/stripe.css' %}">
    {% endblock %}
    
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light text-center" id="ftco-navbar">

        <a class="navbar-brand" href="/">Compass <img style="width: 25px;" src="https://upload.wikimedia.org/wikipedia/commons/9/93/Arrow_Compass_Black.png" alt=""></a>


    </nav>
    {% endblock %}

    {% block content %}
<div class="text-center" style="margin-top: 23px;">

    <h1 style="color: #08a05c; font-size: 60px; text-transform: uppercase;">Congratulations!</h1>
    <h2 class="mt-3" style="background-color: black; color: white; margin: 0 auto; width: 650px; padding: 5px;">You successfully bought your item.</h2>
 
    <div class="mt-4">
        <img src="https://img.icons8.com/ios/452/confetti.png" alt="" width="380px">
    </div>
    <div>
        <a href="{% url 'core:browse-list' %}">
            <button style="font-size: 20px; border:1px solid #08a05c; background-color: #08a05c; color: white; border-radius: 4px; padding: 10px;">Go grab something else!</button>

        </a>
    </div>
</div>

        {% endblock %}
        {% block js %}
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'js/stripe.js' %}"></script>
        {% endblock %}

        